body{
    margin: 0px;
}
#main{
    background-color: black;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: [row1-start] 90% [row1-end row2-start] 10% [row2-end];
    width: 99.72%;
}
.arrows{
    display: flex;
    height: 25px;
    color: #fff;
    cursor: pointer;
    gap: 7px;
}
.arr{
    background-color: black;
    border-radius: 50%;
}
.arr1{
    background-color: black;
    border-radius: 50%;
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   padding: 0 20px;
   background-color: rgb(27, 26, 26);
}
.button2 > button{
        height: 50px;
        padding: 0px 20px;
        margin-top: 1px;
        margin-right: 10px;
        border-radius: 50px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
.signB{
    background-color:rgb(27, 26, 26);
    color: rgb(139, 138, 138);
}
.signB:hover{
    color: #fff;
}
.signL{
    background-color: #fff;
    color: black;
}
.signL:hover{
    transform: scale(1.04);
   background-color: rgb(210, 210, 210);
}
.r1, .r2{
}
.r2{
    overflow: hidden;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: rgb(201,28,197);
    background: linear-gradient(90deg, rgba(201,28,197,0.8323704481792717) 20%, rgba(62,162,210,1) 100%);
  
}
.r2 > button{
    height: 46px;
    padding: 0px 30px;
    margin-top: 8.5px;
    margin-right: 25px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
}
.r2 > button:hover{
    transform: scale(1.04);
}

.r2-col1 > h4{
   
    margin-top: 10.5px;
    font-size: 14px;
    font-weight: bold;
}
.r2-col1 > p{
    
    font-size: 14px;
    font-weight: bold;
    margin-top: -12px;
}
.r1{
    display: grid;
    grid-template-columns: 23% 77%;
    background-color: black;
   
}
.r1 > div{
  
}
.r1-col1{
    display: grid;
    grid-template-rows: [row1-start] 20% [row1-end row2-start] 78% [row2-end];
    padding: 10px 10px 10px 10px;
    gap: 10px;
}
.r1-col1 > div{
   
}
.home, .library{
    background-color: #121212;
    border-radius: 9px;
}
.r1-col2{
   padding: 10px;
   overflow: hidden;
}
.content{
    background-color: #121212;
    height: 99.94%;
    border-radius: 9px;
    overflow-y: scroll;
    scrollbar-width: thin;
    overflow-x: hidden;
}
.heading{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    cursor: pointer;
}
.sp{
   font-size: 22px;
   font-weight: 700;
   color: #fff;
   padding: 0 20px;
}
.sa{
    font-weight: bold;
    color: gray;
    padding: 0 20px;
}
.sa:hover{
    text-decoration: underline;
}
.sp:hover{
    text-decoration: underline;
}
.pl{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    padding: 0 15px;
}
.pl > div{
    
    background-color: transparent;
    background-color: rgba(108, 107, 107, 0.4);
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    line-height: 23px;
    width: 140px;
}
.pl > div > img{
    object-fit: cover;
    border-radius: 5%;
    padding-left: 5px;
    cursor: pointer;
    
}
.oneh{
        margin: 0;
        font-family:sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
        margin-left: 8px;
    }
.onep{
       margin: 0;
       font-size: 15px;
       color: rgb(171, 169, 169);
       font-weight: 700;
       margin-left: 8px;
    }
img:hover{
    box-shadow: rgba(255, 254, 254, 0.4) 0px 30px 90px;
}
.detailss{
    color: white;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: left;
    padding: 70px 20px;
    gap: 120px;
    line-height: 0px;
}
.r1-col3{
    display: flex;
    padding: 85px 30px;
    gap: 118px;
}
.section > h4{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 0.5;
}
.section > p{
    color: grey;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    cursor: pointer;
}
.section > p:hover{
    color: white;
    text-decoration: underline;
}
.socmed{
    margin-left: 165px;
    cursor: pointer;
}
.line{
    color: grey;
    
}
.symbol{
    color: gray;
    padding: 40px 20px ;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.home{
    line-height: 0.5;
}
.homeee{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding: 15px 15px;
    cursor: pointer;
}
.search:hover{
    color: #fff;
}
.search{
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 15px;
    cursor: pointer;
}
.library{
    display: grid;
    grid-template-rows: 65px 138px;
}
.library > div{
   
}
.lib{
    display: flex;
}
.lib > p{
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.lib > :hover{
    color: white;
}
.libmain{
    background-color: rgba(89, 88, 88, 0.4);
    border-radius: 17px;
    margin: 7px;
}
.lib2 > h4{
    font-family: 'Poppins', sans-serif;
   color: #fff;
}
.lib2 > p{
    font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 14px;
}
.lib2{
   padding: 0 15px;
   line-height: 0.7;
}
.createplay{
    background-color: #fff;
    color: black;
    font-family: ;
    height: 32px;
    width: 130px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.createplay:hover{
    transform: scale(1.04);
}
.libenddd > p{
    color: grey;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    padding: 30px 15px;
    cursor: pointer;
}
.eng{
    display: flex;
    background-color: #121212;
    border-color: #fff;
    border-width: 1px;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 50px;
    font-size: 12.5px;
    font-weight:570;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 6.8px 10px;
}
.eng:hover{
    transform: scale(1.05);
    border-width: 2px;
    font-weight: 600;
}
.buttondet{
    margin-left: 20px;
}

